/* register.css */

#register-section {
  padding: 40px 0;
  margin-top: 3em;
}

.register-form {
  max-width: 600px;
  margin: auto;
  background-color: #fff;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.register-form h2 {
  text-align: center;
  margin-bottom: 30px;
}

.register-form label {
  display: block;
  text-align: left;
  margin-bottom: 8px;
  font-weight: 600;
  color: black;
}

.register-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

.register-form button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}
